<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdkd.ccse.jdbexes.mapper.ExperimentStuMapper">
    <cache     />

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        expno, examname, is_Open as isOpen
    </sql>

    <resultMap id="experiment" type="Experiment">
        <id property="expno" column="expno" />
        <result property="examname" column="examname"/>
    </resultMap>


    <select id="selectDataGridByUser" resultType="Map">
        select expstuno, es.expno, expname, status, selectedtime
        from experiment_stu es join experiment e on es.expno = e.expno
        where stuno = #{stuno}

    </select>

    <select id="experimentFilesDataGridByUser" resultType="Map">
        select efs.expfilestuno, ef.srcfilename, efs.submittime, ef.fileno, es.expstuno
        from experiment_stu es join experiment e on es.expno = e.expno
        join experiment_files ef on ef.expno = e.expno
        left outer join experiment_files_stu_latest efs on efs.fileno = ef.fileno and efs.expstuno = es.expstuno
        where es.stuno = #{stuno} and es.expstuno = #{expstuno}

    </select>


    <update id="refreshCache" flushCache="true">
        select 1
    </update>
</mapper>