<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdkd.ccse.jdbexes.mapper.ExperimentFilesMapper">

    <cache/>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        fileno, expno, srcfilename, dstfilename
    </sql>

    <select id="selectExperimentFilesPage" resultType="Map" useCache="false">
        SELECT
            fileno, expno, srcfilename, dstfilename
        from experiment_files
        <where>

            <if test=" expno != null ">
                expno = #{expno}
            </if>

        </where>

    </select>


    <update id="refreshCache" flushCache="true">
        select 1
    </update>
</mapper>