<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdkd.ccse.jdbexes.mapper.ExperimentStuMapper">
    <cache     />

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        expno, examname, is_Open as isOpen
    </sql>

    <resultMap id="experiment" type="Experiment">
        <id property="expno" column="expno" />
        <result property="examname" column="examname"/>
    </resultMap>


    <select id="selectDataGridByUser" resultType="Map" useCache="false">
        select expstuno, es.expno, expname, status, selectedtime, teststatus, testdesc, simstatus, simdesc
        from experiment_stu es join experiment e on es.expno = e.expno
        <where>
            <if test=" stuno != null and stuno != '' ">
                stuno = #{stuno}
            </if>

        </where>

    </select>

    <select id="experimentStuByExpno" resultType="Map" useCache="false">
        select es.expstuno, u.login_name, u.name, es.status, selectedtime, teststatus, testdesc, simstatus, simdesc, efsl.submittime
        from experiment_stu es join user u on es.stuno = u.id
            join (select expstuno, max(submittime) submittime from experiment_files_stu_latest group by expstuno) efsl on es.expstuno = efsl.expstuno
        <where>
            <if test=" expno != null and expno != '' ">
                expno = #{expno}
            </if>
            <if test=" organization_id != null and organization_id != '' and organization_id != -1">
                and organization_id = #{organization_id}
            </if>

        </where>
    </select>

    <select id="experimentFilesDataGridByUser" resultType="Map"  useCache="false">
        select efs.expfilestuno, ef.srcfilename, efs.submittime, ef.fileno, es.expstuno
        from experiment_stu es join experiment e on es.expno = e.expno
        join experiment_files ef on ef.expno = e.expno
        left outer join experiment_files_stu_latest efs on efs.fileno = ef.fileno and efs.expstuno = es.expstuno
        where es.stuno = #{stuno} and es.expstuno = #{expstuno}

    </select>

    <update id="updateStatusDesc">
        update experiment_stu
        set teststatus = #{teststatus}, testdesc = #{testdesc}
        where expno = #{expno} and stuno = #{stuno}
    </update>

    <update id="updateSimStatus">
        update experiment_stu
        set simstatus = #{simstatus}, simdesc = #{simdesc}
        where expno = #{expno} and stuno = #{stuno}
    </update>

    <update id="refreshCache" flushCache="true">
        select 1
    </update>
</mapper>