<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdkd.ccse.jdbexes.mapper.ExperimentFilesStuMapper">

    <cache/>


    <update id="refreshCache" flushCache="true">
        select 1
    </update>
</mapper>